<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Register</title>
</head>

<body>
  <section class="bg">
    <div class="container">
      <div class="row">
        <!-- logos -->
        <div class="">
          <img class="col s4 offset-s4 responsive-img center-align" src="../assets/images/logo-white.png" alt="logo white">;
          <img class="responsive-img" src="../assets/images/logo-pink.png" alt="logo pink">;

        </div>


        <div class="col s12 center-align btn-position">
          <a href="login.html " type="button " class="btn-large transparent white" id="signup">Log In</a>
          <a href="signup.html" type="button" class="btn-large transparent white" id=" signup ">Sing Up</a>
        </div>
      </div>

    </div>
  </section>

  

  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/register.js"></script>
</body>

</html>
