<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Finish</title>
</head>

<body>
  <section class="container-flex-column vh100 ">
    <div class="container">
      <div class="row">
        <div class="col m12 s12">
          <img src="../assets/images/logo-white.png" alt="logo-lyft" class="col m12 s12">
          <!-- <i class="large material-icons align-center">check</i> -->
          <img src="../assets/images/check.png" alt="logo-lyft" class="col m6 s6 offset-s3">
        </div>
      </div>
    </div>
  </section>


  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <!-- <script src="../js/datos.js"></script> -->
</body>

</html>
